**/.DS_Store
cat-dir-content.sh
devlog.md
.DS_Store
tmp.png

samples/
# samples/samples_full
samples/sample1
samples/contrails-images-ash-color.zip
samples/sample_full/.DS_Store

notebooks/

output/midstream/
